header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.logo-container{
    width: 150px;
    height: 100px;
    background-image: url(hb-logo.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}
